.vehicles-form {
    margin-top: 3rem;
    .button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .submit-button {
            position: absolute;
        }
    }

}