.shadow-line {
    width: 100%;
    height: 2px;
    background-color: #d3d3d3;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.vehicles-list {
    position: relative;
    margin-top: 1.3rem;

    .spinner-border {
        position: absolute;
        left: 30rem;
        top: 4rem;
    }
}