<div class="modal fade" id="confirmModal" [ngClass]="{'show d-block modal-slide-down': show, 'modal-slide-up': !show}" tabindex="-1" role="dialog"
    aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmação</h5>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja realizar esta ação?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="confirm()">Confirmar</button>
            </div>
        </div>
    </div>
</div>