<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="fs-4">Info Vehicles</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li *ngFor="let item of menuItems" class="nav-item">
            <a (click)="redirectTo(item)" class="nav-link" [ngClass]="item.isActive ? 'active': 'text-white'"
                aria-current="page">
                {{ item.title}}
            </a>
        </li>
    </ul>
    <hr>
</div>