<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark">
    <div href="/" class="d-flex flex-column align-items-center">
        <img class="sidebar-img" src="../../../../assets/images/car-img.PNG" alt="">
        <h3 class="sidebar-title fs-4">Info Vehicles</h3>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li *ngFor="let item of menuItems" class="nav-item">
            <a (click)="redirectTo(item)" class="nav-link" [ngClass]="item.isActive ? 'active': 'text-white'"
                aria-current="page">
                {{ item.title}}
            </a>
        </li>
    </ul>
    <hr>
</div>